body {
    background: #000000;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
}

.banner {
    position: relative;
    width: 300%;
    height: 600px;
    overflow: hidden;
    background: url(../img/banner3.png);
    background-repeat: no-repeat;
}

.banner h3 {
    text-align: center;
    font-size: 2em;
    padding: 100px 0 0 0;
}

.banner h2 {
    padding: 20px 150px 0 150px;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 1;
}

.professor {
	padding: 30px 50px 100px 50px;
    margin: 50px 0px 0px 0px;
}

.professor img {
    position: relative;
    right: 40px;
    top: 1025px;
    border: 8px solid #4e1771;
    border-radius: 100px 10px 100px 20px;
	position: absolute;
	width: 900px;
}

.professor p {
	font-size: 2.4em;
	display: inline-block;
    text-align:  justify;
	vertical-align: top;
	padding: 50px 1000px 0px 50px;
    color: #9A9A9A;
}

.professor em {
	font-style: italic;
}

.professor strong {
	font-weight: bold;
}

.alunos h2 { 
	font-size: 4em;
	margin: 30px 50px 0px 50px;
	text-transform: uppercase;
	font-weight: bold;
}

.caixas {
    width: 100%;
    display: flex;
    padding: 20px 0 120px 0;
}

.caixaa {
    width: 346px;
    height: 450px;
    background-color: #1C1C1C;
    border: 5px solid #4e1771;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.caixa {
    width: 346px;
    height: 450px;
    background-color: #1C1C1C;
    border: 5px solid #4e1771;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.cab-caixa {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.caixa-img {
    min-width: 50%;
    height: 100%;
    padding: 0px 0px 0px 75px;
}

.corpo-caixa {
    height: 170px;
}

.caixaa h3 {
    padding: 20px 0px 0px 90px;
    font-weight: bold;
    font-size: 25px;
    color: #9400D3;
}

.caixa h3 {
    padding: 20px 0px 0px 60px;
    font-weight: bold;
    font-size: 25px;
    color: #9400D3;
}

.caixaa p {
    font-size: 1em;
    padding: 20px 20px 0px 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.caixa p {
    font-size: 1em;
    padding: 20px 20px 0px 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.caixaa:hover {
    transform: scale3d(1.1, 1.1, 1);
}

.caixa:hover {
    transform: scale3d(1.1, 1.1, 1);
}

.conteudos, .caixas {
    margin: 20px 0px 0px 40px;
    display: flex;
}

.professor h3 {
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
	padding: 0px 0px 0px 50px;
	color: #9400D3;
	text-transform: uppercase;
}

.professor h2 {
	display: inline-block;
	font-size: 4em;
	padding: 30px 50px 0px 50px;
	text-transform: uppercase;
	font-weight: bold;
	vertical-align: top;
}

.banner {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(../img/banner2.jpg);
    background-repeat: no-repeat;

}

.banner h3 {
    text-align: center;
    font-size: 2em;
    padding: 100px 0 0 0;
}

.banner h2 {
    padding: 20px 150px 0 150px;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 1;
}

.professor {
	padding: 30px 50px 100px 50px;
    margin: 50px 0px 0px 0px;
}

.professor img {
    right: 40px;
    top: 1025px;
	position: absolute;
	width: 900px;
}

.professor p {
	font-size: 2.4em;
	display: inline-block;
    text-align:  justify;
	vertical-align: top;
	padding: 50px 1000px 0px 50px;
    color: #9A9A9A;
}

.professor em {
	font-style: italic;
}

.professor strong {
	font-weight: bold;
}

.alunos h2 {
	font-size: 4em;
	padding: 30px 50px 0px 50px;
	text-transform: uppercase;
	font-weight: bold;
}

.professor h3 {
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
	padding: 0px 0px 0px 50px;
	color: #9400D3;
	text-transform: uppercase;
}

.professor h2 {
	display: inline-block;
	font-size: 4em;
	padding: 30px 50px 0px 50px;
	text-transform: uppercase;
	font-weight: bold;
	vertical-align: top;
}

.prof {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    padding: 70px;
}

.educa {
     width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 85px;
}

.conteudos {
    position: absolute;
    margin: 20px 0px 250px 0px;
    top: 2054px;
    left: 90px;
}

.conteudos2 {
    position: absolute;
    left: 500px;
    top: 2075px;
}

.conteudos3 {
    position: absolute;
    left: 920px;
    top: 2075px;
}

.conteudos4 {
    position: absolute;
    left: 1320px;
    top: 2075px;
}

.conteudo .box {
    display: inline-block;
    position: relative;
    width: 340px;
    height: 740px;
    background: #0A0A0A;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.conteudo .box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    transform: skew(2deg,2deg);
    background-color: #fff;
    z-index: -1;
}

.conteudo .box:nth-child(1):before {
    background: #9400D3
}

.conteudo .box:nth-child(2):before {
    background: #9400D3
}

.conteudo .box:nth-child(3):before {
    background: #9400D3
}

.conteudo .box:nth-child(4):before {
    background: #9400D3
}

.conteudo .box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.04)
}

.content {
    position: relative;
    padding: 20px;
    transform: translateY(40px)
}

.box .content h3 {
    position: relative;
    top: 80px;
    left: 10px;
    margin: 20px 0px 20px 0px;
    padding: 0;
    font-size: 38px;
    font-weight: bold;
    color: #9400D3;
}

.box .content p {
    position: relative;
    top: 70px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
    padding: 10px 0px 10px 0px;
}

.box .content a {
    padding: 5px;
    position: relative;
    top: 80px;
    left: 160px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    border: 3px solid #9400D3;
    display: inline-block;
    color: #9400D3;
    transition: 0.3s;
    width: 120px;
    height: 50px;
    border-radius: 0 20px 20px 20px;
}

a:hover {
    cursor: pointer;
}

.box .content:hover a{
    color: #FFFFFF;
    border-color: #9400D3;
    background-color: #9400D3;
}

.box .imagem {
    border: 3px solid #9400D3;
    position: absolute;
    bottom: 330px;
    left: 35px;
    height: 270px;
    width: 270px;
    border-radius: 50px 0px 50px 0px;
}

.conteudo:hover {
    transform: scale3d(1.04, 1.04, 1);
    transition: 0.7s;
}

.box:hover .content a {
    opacity:1;
    visibility: visible;
}

.texto h3 {
    font-size: 2em;
	font-weight: bold;
	font-style: italic;
	padding: 0px 100px 0px 100px;
	color: #9400D3;
	text-transform: uppercase;
}

.texto p {
    margin: 0px 0px 1000px 0px;
    font-size: 2.4em;
	display: inline-block;
    text-align:  justify;
	vertical-align: top;
	padding: 50px 100px 0px 100px;
    color: #9A9A9A;
}

span {
    font-weight: bold;
}